/* * {
  border: 1px solid red;
} */
.button{
  display: flex;
  text-align: center;
}
body{
  margin-top : 100px;
}

.View{
  position: absolute;
  margin-top: 90px;
}

.View-Strap{
  margin-top: 65px;
}


.col-6 {
  border: 1px solid gray;
}

#Clock-View {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: baseline;
  border: 1px solid red;
}
#Clock-View img {
  width: 300px;
  height: auto;
}
#Strap{
  height: 345px !important;
}



#Clock-Select ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: stretch;
  overflow-y: auto;
}

li{
  list-style: none;
}


#Clock-Select img {
  width: 100px;
  height: 100px;

}


.View-Frame {
  z-index: 100;
}

.View-Head {
  z-index: 110;
}

.View-Strap {
  z-index: 90;
}

.View-Arrow {
  z-index: 120;
}


.navbar {
  background-color: #8a5631;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  position: fixed;
}

a {
  text-decoration: none;
  color: white;
}

.navbar__logo {
  width: 100px;
  height: 50px;
  background: url(/image/m_logo_white.png);
  background-size: 100% auto;
  margin: 10px 30px;
}

.navbar__menu {
  list-style: none;
  font-size: 20px;
}

.navbar__menu li:hover {
  background-color: white;
  color: #8a5631;
  border-radius: 4px;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__set {
  width: 100px;
  height: 50px;
}

.navbar__set span {
  height: 50px;
  width: 50px;
}


#customBody {
  margin-top: 100px;
}

/*  */
.BestItem{
  text-align: center;
}
