/* * {
  border: 1px solid red;
} */
.cart .right{
  flex:0 1 30%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.cart{
  border: 1px solid gray;
  flex-wrap: wrap;
}
.cart input{
  width:30px;
}


.cart .image img{
  width: 125px;
  height: auto;
}
.cart{
  align-items: baseline;
}

a{
  color:black;
}
html{
  font-size: 15px;
}
.button{
  display: flex;
  text-align: center;
}
body{
  margin-top : 100px;
}

.View{
  position: absolute;
  margin-top: 90px;
}

.View-Strap{
  margin-top: 65px;
}


.col-6 {
  border: 1px solid gray;
}

#Clock-View {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: baseline;
  border: 1px solid red;
}
#Clock-View img {
  width: 300px;
  height: auto;
}
#Strap{
  height: 345px !important;
}



#Clock-Select ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  align-items: stretch;
  overflow-y: auto;
}

li{
  list-style: none;
}


#Clock-Select img {
  width: 100px;
  height: 100px;

}


.View-Frame {
  z-index: 100;
}

.View-Head {
  z-index: 110;
}

.View-Strap {
  z-index: 90;
}

.View-Arrow {
  z-index: 120;
}


.navbar {
  background-color: #8a5631;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  position: fixed;
}

.navbar a {
  text-decoration: none;
  color: white;
}

.navbar__logo {
  width: 100px;
  height: 50px;
  background-size: 100% auto;
  margin: 10px 30px;
}
.navbar__logo img{
  width:inherit;
  height: inherit;
}

.navbar__menu {
  list-style: none;
  font-size: 20px;
}

.navbar .navbar__menu a:hover {
  background-color: white;
  color: #8a5631 !important;
  border-radius: 4px;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__set a {
  color: black;
  font-size: 15px;
}
-navbar__set ul{
  display: flex;
}


.BestItem{
  text-align: center;
}
