@charset "utf-8";
i,em{font-style:normal}

textarea:focus, input:focus{
    outline: none;
}

.owl-item {float:left;}
.owl-carousel .owl-wrapper {display: none;position:relative;-webkit-transform:translate3d(0px, 0px, 0px);-webkit-transition: all 0.3s ease-out;-moz-transition: all 0.3s ease-out;-o-transition: all 0.3s ease-out;transition: all 0.3s ease-out;}


/* line */
.bd-line{height:1px; background:#dae2ed; margin:25px 0}



/* skipNavi */
#skipNavi {height:0;}
#skipNavi .skipLink {position:absolute;top:-1000px;left:-1000px;overflow:hidden;z-index:5000;}
#skipNavi .skipLink:focus, #skipNavi .skipLink:active {top:0;left:0;padding:10px 20px;background:#1e64ba;color:#fff;}




/* title 2019-08-03 */
.u-tit01{font-size:22px; min-height:22px; font-weight:500;letter-spacing:-0.045em;color:#000; line-height:21px;padding-left:25px;background:url(../_Img/Sub/u-tit01.png) no-repeat left 4px;margin-bottom:22px;}
.u-tit01 span{font-weight:300}
.u-tit02{font-size:20px; min-height:22px; font-weight:400;letter-spacing:-0.045em;color:#000; line-height:21px;padding-left:10px;margin-bottom:15px; position:relative;}
.u-tit02:before{width:3px;height:3px; border-radius:50%;box-sizing:border-box; overflow:hidden; position:absolute; left:0; top:9px; display:block; content:"";background:#000;}

.u-tit03{font-size:19px; font-weight:400;letter-spacing:-0.045em;color:#3d93e8; line-height:21px;margin-bottom:15px; position:relative;}


/* input & select */
.chk-input {display:inline-block; vertical-align:top; position:relative;}
.chk-input input[type="text"], .chk-input input[type="password"]{height:34px; letter-spacing:-0.03em; border:1px solid #e2e2e2; background:#fff; color:#666; padding:0 10px;font-size:14px; box-sizing:border-box; display:block; width:100%; position:relative;}



.chk-select{position:relative; box-sizing:border-box;display:inline-block; vertical-align:top}
.chk-select:after{background:url(../_Img/Sub/select-arrow.png) no-repeat center center; position:absolute; width:20px; height:30px; margin-top:-15px; position:absolute; right:5px; top:50%; display:block; content:""; z-index:3}
.chk-select select{font-size:14px; border:1px solid #dadada; width:100%; height:39px; color:#666; box-sizing:border-box; padding:0 30px 0 7px; -webkit-appearance:none; -moz-appearance:none;background:none; appearance:none;width:100%; margin:0;  position:relative; z-index:5; cursor:pointer;}
.chk-select select::-ms-expand{display:none;}
.chk-select.active select{color:#222;}


.chk-radio {display:inline-block; font-size:0px; vertical-align:middle; line-height:120%; color:#000;}
.chk-radio input[type="radio"]{position: absolute; width:1px; height:1px; padding: 0; margin:-1px; overflow:hidden; clip:rect(0,0,0,0); border: 0; }
.chk-radio input[type="radio"] + label{display:block; position: relative; padding-left:27px;font-weight:600; font-size:18px; color:#000; line-height:20px; cursor:pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
.chk-radio input[type="radio"] + label:before { content:''; position: absolute; left:0; top:0px; width:20px; height:20px; text-align:center; background:#fff; border:2px solid #000000; border-radius:100%; box-sizing:border-box; }
.chk-radio input[type="radio"] + label:after {}
.chk-radio input[type="radio"]:checked + label:after { content:''; position:absolute; top:4px; left:4px; width:12px; height:12px; background:#000000; border-radius:100%; }


.chk-check{display:inline-block; font-size:0px; vertical-align:middle; line-height:100%; color:#000;}
.chk-check input[type="checkbox"]{position: absolute; width:1px; height: 1px; padding: 0; margin:-1px; overflow: hidden; clip:rect(0,0,0,0); border: 0; }
.chk-check input[type="checkbox"] + label{display:block; position:relative; padding-left:30px; font-size:19px; line-height:20px; color:#000; font-weight:600; letter-spacing:-0.02em; cursor:pointer;}
.chk-check input[type="checkbox"] + label:before{content:''; position: absolute; left:0px; top:0px; box-sizing:border-box;width:20px; height:20px; text-align:center; background:#fff; border:2px solid #000;   }
.chk-check input[type="checkbox"]:checked + label{color:#1e1e1e;}
.chk-check input[type="checkbox"]:checked + label:before{background:url(../_Img/Sub/check-on.jpg) no-repeat center #fff;}



/* tbl type */
.tbl-type01{border-top:2px solid #606060; font-size:16px;table-layout:fixed}
.tbl-type01 thead th{background:#ededed;font-weight:500; color:#000; letter-spacing:-0.03em; line-height:1.2em; padding:14px 0 13px 0;text-align:center;border-bottom:1px solid #d3d3d3;border-left:1px solid #d3d3d3}
.tbl-type01 tbody th{background:#f6f6f6;font-weight:500; color:#000; letter-spacing:-0.03em; line-height:1.2em; padding:14px 0 13px 0;text-align:center;border-bottom:1px solid #d3d3d3;border-left:1px solid #d3d3d3}
.tbl-type01 tbody td{font-weight:500; color:#000; letter-spacing:-0.03em; line-height:1.2em; padding:14px 0 13px 0;text-align:center;border-bottom:1px solid #d3d3d3;border-left:1px solid #d3d3d3}
.tbl-type01 thead tr th:nth-child(1){border-left:none;}
.tbl-type01 tbody tr th:nth-child(1), .tbl-type01 tbody tr td:nth-child(1){border-left:none;}



/* tab-style */
.tabContents { display: none; }
.slickSilde { display: block; }

/* tab-style */
.u-tab01{}
.u-tab01 ul:after{display:block; content:"";clear:both;}
.u-tab01 li{float:left;}
.u-tab01 li:nth-child(n+2){margin-left:47px;}
.u-tab01 li a{position:relative;display:block; line-height:1.2em; color:rgba(225,225,225,0.5);font-weight:600; letter-spacing:-0.01em; font-size:60px; -webkit-transition: color 0.3s ease-out;-moz-transition: color 0.3s ease-out;-o-transition: color 0.3s ease-out;transition: color 0.3s ease-out;}
.u-tab01 li a:after{background:#ad8767; position:Absolute; left:0; bottom:0; height:0; width:0; z-index:-1; display:block; content:""; -webkit-transition: color 0.3s ease-out;-moz-transition: color 0.3s ease-out;-o-transition: color 0.3s ease-out;transition: color 0.3s ease-out;}
.u-tab01 li.active a{color:rgba(255,255,255,1)}
.u-tab01 li a:hover{color:rgba(255,255,255,1)}
.u-tab01 li.active a:after, .u-tab01 li a:hover:after{
	width: 100%;
	height:20px;
/* 	-webkit-transition: height 0.3s ease-out; */
/* 	-moz-transition: height 0.3s ease-out; */
/* 	-o-transition: height 0.3s ease-out; */
/* 	transition: height 0.3s ease-out; */
	-webkit-transition: width 0.3s ease-out;
	-moz-transition: width 0.3s ease-out;
	-o-transition: width 0.3s ease-out;
	transition: width 0.3s ease-out;
}
@media only screen and (max-width:1400px){
	.u-tab01 li:nth-child(n+2){margin-left:37px;}
	.u-tab01 li a{font-size:52px}
}

.u-tab02{}
.u-tab02 ul{margin-bottom:25px;}
.u-tab02 ul:after{display:block; content:"";clear:both;}
.u-tab02 li{float:left;}
.u-tab02 li:nth-child(n+2){margin-left:34px;}
.u-tab02 li a{position:relative;display:block; line-height:1.2em; color:#e1e1e1;font-weight:600; letter-spacing:-0.01em; font-size:30px; -webkit-transition: color 0.3s ease-out;-moz-transition: color 0.3s ease-out;-o-transition: color 0.3s ease-out;transition: color 0.3s ease-out;}
.u-tab02 li a:after{background:#ad8767; position:absolute; left:0; bottom:0; height:1px; width:0; z-index:1; display:block; content:""; -webkit-transition: color 0.3s ease-out;-moz-transition: color 0.3s ease-out;-o-transition: color 0.3s ease-out;transition: color 0.3s ease-out;}
.u-tab02 li.active a{color:#ad8767}
.u-tab02 li a:hover{color:#ad8767}
.u-tab02 li.active a:after, .u-tab02 li a:hover:after{
	width:100%;
	-webkit-transition: width 0.5s ease-out;
	-moz-transition: width 0.5s ease-out;
	-o-transition: width 0.5s ease-out;
	transition: width 0.5s ease-out;
}
@media only screen and (max-width:1400px){
	.u-tab02 li:nth-child(n+2){margin-left:29px;}
	.u-tab02 li a{font-size:27px}
}

.u-tab03{position:relative;}
.u-tab03 ul{margin-bottom:40px;}
.u-tab03 ul:after{display:block; content:"";clear:both;}
.u-tab03 li{float:left;}
.u-tab03 li:nth-child(n+2){margin-left:40px;}
.u-tab03 li a{position:relative;display:block; line-height:1.2em; color:#b2b2b2;font-weight:600; letter-spacing:-0.01em; font-size:60px; -webkit-transition: color 0.3s ease-out;-moz-transition: color 0.3s ease-out;-o-transition: color 0.3s ease-out;transition: color 0.3s ease-out;}
.u-tab03 li a:after{background:#ad8767; position:Absolute; left:4px; bottom:9px; height:0; width:0; z-index:-1; display:block; content:""; -webkit-transition: color 0.3s ease-out;-moz-transition: color 0.3s ease-out;-o-transition: color 0.3s ease-out;transition: color 0.3s ease-out;}
.u-tab03 li.active a{color:#000}
.u-tab03 li a:hover{color:#000}
.u-tab03 li.active a:after, .u-tab03 li a:hover:after{
	width: 100%;
	height:20px;
/* 	-webkit-transition: height 0.3s ease-out; */
/* 	-moz-transition: height 0.3s ease-out; */
/* 	-o-transition: height 0.3s ease-out; */
/* 	transition: height 0.3s ease-out; */
	-webkit-transition: width 0.3s ease-out;
	-moz-transition: width 0.3s ease-out;
	-o-transition: width 0.3s ease-out;
	transition: width 0.3s ease-out;
}
@media only screen and (max-width:1400px){
	.u-tab03 ul{margin-bottom:35px;}
	.u-tab03 li:nth-child(n+2){margin-left:34px;}
	.u-tab03 li a{font-size:52px}
}




/* paging-wrap */
.paging-wrap{margin-top:45px;font-size:0px; text-align:center; display:block; position:relative;}
.paging-wrap a.ctrl{ margin:0 3px;display:inline-block;vertical-align:top;text-decoration: none; width:36px; height:36px; font-size:15px;  border:1px solid #d0d0d0;  color:#1e1e1e; text-align:center; box-sizing:border-box; line-height:34px;font-weight:400;}
.paging-wrap li, .paging-wrap ul{display:inline-block; vertical-align:top;}
.paging-wrap ul{padding:0}
.paging-wrap li{margin:0 3px;}
.paging-wrap li a{display:block; position:relative; text-decoration: none;width:36px; height:36px; font-size:16px; color:#666; text-align:center;line-height:36px;font-weight:400;box-sizing:border-box;-webkit-transition: background 0.3s ease-out;-moz-transition: background 0.3s ease-out;-o-transition: background 0.3s ease-out;transition: background 0.3s ease-out;}
.paging-wrap li a.active, .paging-wrap li a.active:hover{ color:#fff;background:#3d93e8;}

.paging-wrap a.first{background:url(../_Img/Sub/page-first.png) no-repeat center center;}
.paging-wrap a.prev{background:url(../_Img/Sub//page-prev.png) no-repeat center center;}
.paging-wrap a.next{background:url(../_Img/Sub/page-next.png) no-repeat center center;}
.paging-wrap a.last{background:url(../_Img/Sub/page-last.png) no-repeat center center;}
